//reset
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    outline:0;
}
img {border:0;}


@font-face{
	font-family:NanumSquareNeoB;
	src:url(/fonts/NanumSquareNeoB.eot);
	src:local("※"), url(/fonts/NanumSquareNeoB.woff) format('woff'), url(/fonts/NanumSquareNeoB.ttf) format('truetype');
  }