@charset "Utf-8";
@import "reset";


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  width:100%;height:100vh; min-width:350px;
  header {
    position: absolute;top:0;z-index:999;
    @media screen and (min-width: 900px) {
      h1 {
        display:inline-block;
        padding:20px 0 0 40px;
        svg {
          width:100%;
          height: auto;
          max-width: 100vw;
        }
      }
      .btn_main {
        position: fixed;
        top: 30px; right:33px;
      }
    }
    @media screen and (max-width: 900px) {
      h1 {padding:10px 0 0 10px;
        svg {width:10vw;height: auto;max-width: 100vw;}
      }
      .btn_main {position: fixed; top: 10px; right:10px;}
    }
  }
  
  main {
    /*---------------------------------------------page num---------------------------------------------*/
    .pagemv {
      .arrows {
        display: flex;justify-content: center;
        button {
          cursor: pointer;border:none;
          width:50px; height:30px;
          font-size: 0;
        }
        .arrow_left {
          background: url(../images/arrow-left.png) no-repeat center;
          &:hover {background: url(../images/arrow-lefton.png) no-repeat center;}
        }
        .arrow_right {
          background: url(../images/arrow-right.png) no-repeat center;
          &:hover {background: url(../images/arrow-righton.png) no-repeat center;}
        }
        .image-count {
          span {
            font-family: 'League Spartan', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #2A2A2A;
            em {
              font-size: 10px;
              color:#2A2A2A;
              padding:0 4px;
              font-weight: 900;
              display:inline-block;
              height:12px;
              vertical-align: middle;
              font-style:normal;
              }
          }
          .generated-num {color:red;}
          .generated-slash {
            font-size: 10px;
            color:#2A2A2A;
            padding:0 4px;
            font-weight: 900;
            display:inline-block;
            height:12px;
            vertical-align: middle;
          }  
        }
      }
      @media screen and (min-width: 900px) {
        .pagenum {
          position:fixed;width:92px;left:39px;top:50%;z-index: 88;
          display:flex; flex-direction: row; border-radius: 24px;
          background-color: rgba(255, 255, 255, .26); padding:4px 6px;
          a {
            display: block;
            border: 2px solid #2A2A2A;
            font-family: 'League Spartan', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #2A2A2A;
            width:30px;
            height:22px;
            border-radius: 11px;
            text-align: center;
            padding-top: 3px;
          }
          .deco_vill1 {
            display:block;
            width:13px;height:20px;
            background: url(../images/deco_vill_3.png) no-repeat;
            background-position: center;
          }
        } 
      }
      @media screen and (max-width: 900px) {
        .pagenum {
          position:fixed;width:30px;left:4%;top:50%;z-index: 88;
          display:flex; flex-direction:column;border-radius: 24px;
          background-color: rgba(255, 255, 255, .26); padding:6px 4px;
          a {
            display: block;
            border: 2px solid #2A2A2A;
            font-family: 'League Spartan', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #2A2A2A;
            width:22px;
            height:22px;
            border-radius: 11px;
            text-align: center;
            padding-top: 3px;
          }
          .deco_vill1 {
            display:block;
            width:20px;height:20px;
            background: url(../images/deco_vill_4.png) no-repeat;
            background-position: center;
          }
        } 
      }
    }
    /*---------------------------------------------sub ocoa---------------------------------------------*/
    .sub_ocoa {
      width:100%;
      height:100%;
      text-align: center;
      padding-bottom: 94px;
      background: url(../images/deco_ocoa_1.jpg) no-repeat top right/20.5%, url(../images/deco_ocoa_2.png) no-repeat bottom right;
      .sub_ocoa_img1 {
        padding-top: 94px;padding-left: 11%;
        img {width: 100%;max-width: 1663px;}
      }
      .sub_ocoa_img2 {display: flex; justify-content:center;
        .sub_ocoa_img2w {
          margin-right:4.2%;
          img {width: 100%;max-width: 1306px;}
        }
        .sub_ocoa_img2m {
          img {width: 100%;max-width: 326px;}
        }
      }
    }
    /*---------------------------------------------sub elihigh---------------------------------------------*/
    .sub_elihigh {
      width: 100%;
      height:100vh;
      padding-top: 1.5%;
      background: #FAF9F5 url(../images/deco_elihigh.png) no-repeat center top/100%;
      position: relative;

      .sub_elihigh_deco {
        position: absolute;
        /* left: 16%; right: 8%;*/
        z-index: 3;
        img {
          width: 100%;
          max-width: 1452px;
          height: auto;
        }
      }

      .images {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        .sub_elihigh_img {
          position: absolute;
          height: auto;
          /* left: 16%; right: 8%;*/
          display: none;
          transition: transform 0.5s ease;

          img {
            width: 100%;
            max-width: 1452px;
            height: auto;
          }
        }
        .sub_elihigh_img.active {
          display: block;
          transform: translateX(0);
        }
      }
    }
    @media screen and (min-width: 1030px) {
      .pagemv .arrows  {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;}
      .pagemv .ell  {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;}
      .sub_elihigh .sub_elihigh_deco {left: 16%; right: 8%;}
      .sub_elihigh .sub_elihigh_img {left: 16%; right: 8%;}
    }
  
    @media screen and (min-width: 600px) and (max-width: 1030px) {
      .pagemv .arrows  {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;}
      .pagemv .ell {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;}
      .sub_elihigh .sub_elihigh_deco {left: 16%; right: 8%;}
      .sub_elihigh .sub_elihigh_img {left: 16%; right: 8%;}
    }
    @media screen and (max-width: 600px) {
      .pagemv .arrows  {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;}
        .pagemv .ell  {
        position:fixed;width: 142px;left:18px;top:350px;z-index: 88;} 
      .sub_elihigh .sub_elihigh_deco {
        left: 16%; right: 12%;
      }
      .sub_elihigh .sub_elihigh_img {
        left: 16%; right: 12%;
      }
    }
     /*---------------------------------------------sub village---------------------------------------------*/
    .sub_vill1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      p img {width:100%;padding:10% 0 5% 0;}
    }
    @media screen and (min-width: 1250px) {
      .sub_vill1 p:nth-of-type(1) {padding:0 2% 0 12%;}
      .sub_vill1 p:nth-of-type(2) {padding:0 6% 0 0;}
    }
    @media screen and (max-width: 1250px) {
      .sub_vill1 p:nth-of-type(1) {padding:0 2% 0 16%;}
      .sub_vill1 p:nth-of-type(2) {padding:0 13% 0 0;}
    }

    .sub_vill2 {
      @media screen and (min-width: 1260px) {
        .vill2img_vill1 {
          padding:5% 5% 0 8%;text-align:center;
          background: url(../images/deco_vill_5.png) repeat-x;
          background-size:100%;
          background-position: middle;
          img{width: 100%;max-width:1644px;}
        }
        .vill2img_vill2 {
          max-width:1920px;
          padding:10.7% 0% 2.2% 9%;text-align:right;
          img{width: 100%;max-width:1723px;}
        }
        .vill2img_vill3 {
          padding:6% 0% 3.5% 6%;text-align:right;
          img{width: 100%;max-width:1778px;}
        }
      }
      @media screen and (max-width: 1260px) {
        .vill2img_vill1 {
          padding:5% 5% 0 15%;text-align:center;
          background: url(../images/deco_vill_5.png) repeat-x;
          background-size:100%;
          background-position: middle;
          img{width: 100%;max-width:1644px;}
        }
        .vill2img_vill2 {
          max-width:1920px;
          padding:10.7% 0% 2.2% 15%;text-align:right;
          img{width: 100%;max-width:1723px;}
        }
        .vill2img_vill3 {
          padding:10% 0% 3.5% 12%;text-align:right;
          img{width: 100%;max-width:1778px;}
        }
      }

      .deco_vill2 {
        width: 100%; padding:8% 0 0% 0; overflow: hidden; z-index: 4;
        img {width: 82%;transform: translateX(-15%);}
      }
      .deco_vill3 {
        width: 100%; padding:3% 0 4% 0; text-align:right; z-index: 4; overflow: hidden;
        img {width: 82%;transform: translateX(10%);}
      }

      @keyframes moveRight {
          from {
            left: 0;
          }
          to {
            left: 100%;
          }
      }
    }
    .beauty {
      width: 100%;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      background: url(../images/deco_vill_2.png) repeat-x bottom;
      /*
      &:before {
        content: "";
        width:3%;
        height:40vw;
        position:absolute;
        left:12%;
        z-index: 2;
        margin-top:3%;
        background:linear-gradient(to right, rgba(252,252,252,1) 50%, rgba(252,252,252,0) 100%);
        //*background-blend-mode:multiply;
        border: 1px solid red;
      }*/

      .beautyparts {
        width: 100%;
        margin-top:3%;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        user-select: none;
        cursor: grab;
        transition: all 0.6s;
        will-change: transform;
        position: relative;
        margin-left:12%;
        padding-left:22%;
        padding-right:23%;

        .beautyimg {
          padding-right: 2%; transform: translateX(200%);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img {width:100%; max-width:590px;}
        }
      }
      .beautyparts.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        
      }
      
    }
    @media screen and (min-width: 1250px) {
      .sub_vill1 p:nth-of-type(1) {padding:0 2% 0 12%;}
      .sub_vill1 p:nth-of-type(2) {padding:0 6% 0 0;}
    }
    @media screen and (max-width: 1250px) {
      .sub_vill1 p:nth-of-type(1) {padding:0 2% 0 16%;}
      .sub_vill1 p:nth-of-type(2) {padding:0 13% 0 0;}
    }

    /*---------------------------------------------sub peti---------------------------------------------*/
    .sub_peti {
      width:100%;
      height:100%;
      text-align: center;
      padding-bottom: 94px;

      .sub_peti_img1 {
        padding-top: 94px; padding-left: 7%; padding-right:1.5%;
        img {width: 100%;max-width: 1460px;}
      }
      .sub_peti_img2all {display: flex; justify-content:center;
        padding-top:10%;
        .sub_peti_img2a {
          img {width: 100%;max-width: 762px;}
        }
        .sub_peti_img2b {
          img {width: 100%;max-width: 762px;}
        }
      }
      @media screen and (max-width: 1660px) {
        .sub_peti_img1 {padding-left: 15%; padding-right:3%;}
      }
      @media screen and (min-width: 1250px) {
        .sub_peti_img2a {padding:0 2% 0 12%;}
        .sub_peti_img2b {padding:0 6% 0 0;}
      }
      @media screen and (max-width: 1250px) {
        .sub_peti_img2a {padding:0 2% 0 16%;}
        .sub_peti_img2b {padding:0 13% 0 0;}
      }

      .sub_peti_img3 {
        width:100%;
        height:100vh;
        overflow:hidden;
        background: #DBDBDB url(../images/img_peti4.jpg) no-repeat center;
        background-size:100%;
      }

      .sub_peti_img4 {
        padding-top:94px; padding-left:15%; padding-right:5%;
        img {width:100%; max-width:1566px;}
      }

    }

    /*---------------------------------------------sub pfd---------------------------------------------*/
    .sub_pfd {
      width:100%;
      height:100%;
      text-align: center;
      padding-bottom: 94px;
      background: url(../images/deco_pdf1.png) no-repeat top left/20.5%;
      background-position: -4% 16%;

      .sub_pfd_img1 {
        padding-top: 94px;padding-left: 7%; padding-right:3%;
        img {width: 100%;max-width: 1722px;}
      }
      @media screen and (max-width: 1660px) {
        .sub_pfd_img1 {padding-left: 11%; padding-right:12%;}
      }
      .sub_pfd_img2all {
        width:100%;
        margin-top:11.5%;
        
        .sub_pfd_txtlogo {
          
          dt {
            font-family: 'League Spartan', sans-serif;
            font-weight: 500;
            color: #767676;
            letter-spacing:1.8vw;
            text-align:left;
            em {font-style:normal; color:#000000;}
          }
          dd {
            padding-top:4%;
            font-family:NanumSquareNeoB;
            font-size: 15px;
            font-weight: 500;
            color: #5D5D5D;
            line-height:24px;
            text-align:left;
            padding-right:5%;
          }
        }
      }
      @media screen and (min-width: 1540px) {
        .sub_pfd_img2all {
          height:80vh; background: url(../images/img_pfd4.png) no-repeat bottom center/90.8%;}
        .sub_pfd_txtlogo {width:34.2vw; margin-left:6%;}
        .sub_pfd_txtlogo dt {font-size: 2vw;}
        .sub_pfd_imglogo img {display:none;}
      }
      @media screen and (max-width: 1540px) {
        .sub_pfd_img2all {text-align:left;}
        .sub_pfd_imglogo{
          margin-left:6%; margin-top:4%; margin-right:7%;
          img {width:100%;}
        }
        .sub_pfd_txtlogo {width:90vw; margin-left:6%;}
        .sub_pfd_txtlogo dt {font-size: 2vw;}
      }
      @media screen and (max-width: 1260px) {
        .sub_pfd_img2all {text-align:left;}
        .sub_pfd_imglogo{
          margin-left:6%; margin-top:4%; margin-right:7%;
          img {width:100%;}
        }
        .sub_pfd_txtlogo dt {font-size: 2vw;}
      }
      @media screen and (max-width: 1060px) {
        .sub_pfd_img2all {text-align:left;}
        .sub_pfd_imglogo{
          margin-left:6%; margin-top:4%; margin-right:7%;
          img {width:100%;}
        }
        .sub_pfd_txtlogo dt {font-size: 20px;}
      }

    }


  }//*main 닫기

/*-------topbtnw--------*/
#topBtn {
    position: fixed;
    bottom:22px;right:24px;
    z-index: 100;
    width:60px; height: 42px;
    text-align:center;
    border:2px solid #4a4a4a;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor:pointer;

    .topbtn_txt {
        display: block;margin:13px 0 0 2px;
        font-family: 'League Spartan', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #2A2A2A;
        letter-spacing: 2.5px;
    }
}
/*-------topbtnb--------*/
#topBtnb {
  position: fixed;
  bottom:22px;right:24px;
  z-index: 100;
  width:60px; height: 42px;
  text-align:center;
  border:2px solid #444B44;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  cursor:pointer;

  .topbtn_txtb {
      display: block;margin:13px 0 0 2px;
      font-family: 'League Spartan', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #444B44;
      letter-spacing: 2.5px;
  }
}

}

